In [2]:
import sqlite3
import pandas as pd

def load_data():
    conn = sqlite3.connect(":memory:")
    cur = conn.cursor()

    with open("create_tables.sql", encoding ="utf-8") as file:
        conn.executescript(file.read()) # es parte de la conexion
        conn.commit() # con este grabamos los cambios
        
    return conn, cur

conn, cur = load_data()

In [16]:
# Pregunta 1
with open("pregunta_01.sql", encoding="utf-8") as file:
    query = file.read()

pd.read_sql_query(query, conn).to_dict()

{'SUM(c12)': {0: 15137.63}}

In [18]:
# Pregunta 2
with open("pregunta_02.sql", encoding="utf-8") as file:
    query = file.read()

df = pd.read_sql_query(query, conn).to_dict()
print(df)

{'COUNT(*)': {0: 30}}

In [20]:
# Pregunta 4
with open("pregunta_04.sql", encoding="utf-8") as file:
    query = file.read()

pd.read_sql_query(query, conn).to_dict()

{'K0': {0: 'E',
  1: 'D',
  2: 'E',
  3: 'D',
  4: 'C',
  5: 'A',
  6: 'C',
  7: 'E',
  8: 'C',
  9: 'A',
  10: 'C',
  11: 'B',
  12: 'C',
  13: 'E',
  14: 'C',
  15: 'B',
  16: 'E',
  17: 'A',
  18: 'C',
  19: 'A',
  20: 'B',
  21: 'E',
  22: 'E',
  23: 'C',
  24: 'E',
  25: 'A',
  26: 'E',
  27: 'B',
  28: 'D',
  29: 'A'},
 'c16': {0: 'BDGD',
  1: 'BCCC',
  2: 'BAED',
  3: 'BGDD',
  4: 'GGFC',
  5: 'BFGB',
  6: 'GCDB',
  7: 'DFCC',
  8: 'DGCE',
  9: 'DAGC',
  10: 'FBBC',
  11: 'FCGD',
  12: 'EDDA',
  13: 'EGFD',
  14: 'GCDD',
  15: 'BDEE',
  16: 'BGGA',
  17: 'GGFD',
  18: 'FBEE',
  19: 'BECB',
  20: 'GFAE',
  21: 'GEFE',
  22: 'FBGC',
  23: 'CCCE',
  24: 'BBBA',
  25: 'FGED',
  26: 'FBGD',
  27: 'AGAA',
  28: 'GCEA',
  29: 'EGAB'}}

In [3]:
# Pregunta 4
with open("pregunta_08.sql", encoding="utf-8") as file:
    query = file.read()

pd.read_sql_query(query, conn).to_dict()

{'Anio': {0: '2016', 1: '2017', 2: '2018', 3: '2019'},
 'avg(c21)': {0: 564.4764285714285,
  1: 515.1563636363637,
  2: 557.5593749999999,
  3: 550.9985714285714}}

In [7]:
# Pregunta 11
with open("pregunta_14.sql", encoding="utf-8") as file:
    query = file.read()

pd.read_sql_query(query, conn).to_dict()

{'K0': {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'},
 'avg(t2.c21)': {0: 593.495,
  1: 575.47,
  2: 530.7529999999999,
  3: 655.6125,
  4: 555.323076923077}}